absl-py==0.8.1
asgiref==3.2.3
astor==0.8.0
baidu-aip==2.2.18.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
cssselect==1.1.0
cycler==0.10.0
defusedxml==0.6.0
Django==3.0
django-allauth==0.40.0
django-extensions==2.2.5
django-filter==2.2.0
django-werkzeug-debugger-runserver==0.3.1
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
dlib==19.6.1
dnspython==1.16.0
eventlet==0.25.1
Flask==1.1.1
Flask-Session==0.3.1
Flask-SocketIO==4.2.1
gast==0.2.2
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.24.3
h5py==2.10.0
idna==2.8
itchat==1.3.10
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.31.0
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
monotonic==1.5
mysql-connector-python==8.0.18
numba==0.47.0
numpy==1.17.3
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
pandas==0.25.3
Pillow==6.2.1
protobuf==3.18.3
pycryptodomex==3.9.4
pydot==1.4.1
PyExecJS==1.5.1
pymssql==2.1.4
PyMySQL==0.9.3
pyodbc==4.0.28
pyparsing==2.4.5
pypng==0.0.20
PyQRCode==1.2.1
pyquery==1.4.1
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
python3-openid==3.1.0
pytz==2019.3
PyYAML==5.2
pyzmq==18.1.1
qrcode==6.1
requests==2.22.0
requests-oauthlib==1.3.0
scipy==1.3.3
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
tb-nightly==1.14.0a20190301
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
urllib3==1.25.7
Werkzeug==0.16.0
wget==3.2
wrapt==1.11.2
