<!DOCTYPE html>
<html lang="en">
<head>
<title>Process</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript">
    $(function () {
        $('.nav li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
//          $('.tab-top li').eq($(this).index()).addClass('active').siblings().removeClass('active');  tab按钮第二种写法
            var index=$(this).index();
            postMessage(index);
            $(".tab-con .m7").eq(index).show().siblings().hide();
        })
    })
</script>
<script>
     {#document.addEventListener('DOMContentLoaded', () => {#}
     {#       });#}
</script>


<!-- //custom-theme -->
<!-- Google fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- Google fonts -->

<!-- css files -->
<link href="../static/about/css/style.css" type="text/css" rel="stylesheet" media="all">
<!-- //css files -->

<link rel="stylesheet" href="../static/about/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

<link href="../static/about/css/popup-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- popup box css --><!-- 此为bootstrap框架使用 -->
    <link rel="stylesheet" href="../static/index/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/index/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../static/index/css/animate.min.css">
    <style>
        .my_container-sidebar-right {
            float: left;
            margin-left: 2rem;
            width: 6rem;
            height: 3.4rem;
            border-radius: .25rem;
        }
        .my_container-sidebar-body {
            float: left;
            width: 6rem;
            border-radius: .25rem;
        }
        .tab-con .m7{
            display: none;
        }
        .tab-con .m7:first-child{
            display: block;
        }
    </style>
</head>
<!-- body starts -->
<body>
<div class="mfp-container">
    <div class="col-md-6 col-xs-12 "
         style="position: absolute;top: 50%;left: 50%;margin: -300px 0 0 -500px;width: 1000px;height: 600px;
         ">

        <div class="panel panel-primary">
            <div class="panel-heading">Now work on your image</div>
            <div style="width: 1000px; height: 550px;">
                <div class="col-lg-7" style="height: 500px;margin: 20px;border: 2px solid gray ;border-radius: 1rem">
                    <img src= 'original.jpg'>
<!--                    <img src='/static/process.jpg'>-->
                </div>
                <form action="/process" method="post">
                <div class="col-lg-4 tabbable tabs-top panel-body" style="margin-top:4.4rem;background-color: #957bbe;border-radius: .25rem;">
                    <ul class="nav nav-pills" data-tabs="pill">
                        <li class="active"><a href="" data-toggle="pill" aria-expanded="true">智能缩放</a></li>
                        <li class=""><a href="" data-toggle="pill" aria-expanded="false">保护蒙版</a></li>
                        <li class=""><a href="" data-toggle="pill" aria-expanded="false">抠图蒙版</a></li>
                    </ul>
                    <div class="tab-con">
                        <div class="m7">
                            <div style="background-color: #80bdff;height: 12rem">

                        <div style="position: absolute;padding-top: 2.5rem; height: 10rem">
                            <div class="my_container-sidebar-right"><p style="margin-top: 0.5rem;margin-bottom: 0.5rem">宽度(px):</p></div>
                            <div class="my_container-sidebar-body">
                                <input type="text" name="the_width" class="form-control" id="search-input" placeholder="dis_width"
                               aria-label="目标宽度(px)" autocomplete="off" data-docs-version="4.3" spellcheck="false"
                               role="combobox" aria-autocomplete="list" aria-expanded="false"
                               aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                            </div>

                            <div class="my_container-sidebar-right"><p style="margin-top: 0.5rem;margin-bottom: 0.5rem">高度(px):</p></div>
                            <div class="my_container-sidebar-body">
                                <input type="text" name="the_height" class="form-control" id="search-input" placeholder="dis_height"
                               aria-label="目标高度(px)" autocomplete="off" data-docs-version="4.3" spellcheck="false"
                               role="combobox" aria-autocomplete="list" aria-expanded="false"
                               aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                            </div>

<!--                            <div class="my_container-sidebar-right"><p style="margin-top: 0.5rem;margin-bottom: 0.5rem">宽度(%):</p></div>-->
<!--                            <div class="my_container-sidebar-body">-->
<!--                                <input type="text" class="form-control" id="search-input" placeholder="500"-->
<!--                               aria-label="目标宽度(%)" autocomplete="off" data-docs-version="4.3" spellcheck="false"-->
<!--                               role="combobox" aria-autocomplete="list" aria-expanded="false"-->
<!--                               aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">-->
<!--                            </div>-->

<!--                            <div class="my_container-sidebar-right"><p style="margin-top: 0.5rem;margin-bottom: 0.5rem">高度(%):</p></div>-->
<!--                            <div class="my_container-sidebar-body">-->
<!--                                <input type="text" class="form-control" id="search-input" placeholder="80"-->
<!--                               aria-label="目标高度(%)" autocomplete="off" data-docs-version="4.3" spellcheck="false"-->
<!--                               role="combobox" aria-autocomplete="list" aria-expanded="false"-->
<!--                               aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">-->
<!--                            </div>-->
                        </div>


                      <!--
{#                    <div class="container-fluid">#}
{#                        <label>#}
{#                            <ul>#}
{#                                <li><p style="position: relative">目标长度:</p><input class="inputText" type="text" placeholder="目标长度(px)"></li>#}
{#                                <li></li>#}
{#                            </ul>#}
{#                            <input class="inputText" type="text" placeholder="目标宽度(px)">#}
{#                            <input class="inputText" type="text" placeholder="目标长度(%)">#}
{#                            <input class="inputText" type="text" placeholder="目标宽度(%)">#}
{#                        </label>#}
{#                    </div>#}
                        -->
                </div>
                            <div style="padding-top: 1.5rem">
                                <button type="submit" class="btn btn-dark">OK</button>
                            </div>
                        </div>
                        <div class="m7">
                            aaa
                        </div>
                        <div class="m7">333</div>
                    </div>
            </div>
                </form>
            <!-- 表头名字 -->
            <!--
            <div class="tabbable tabs-top panel-body">
                <ul class="nav nav-pills" data-tabs="pill">
                    <li class="active"><a href="https://waifu2x.booru.pics/#upload" data-toggle="pill" aria-expanded="true">From File</a></li>
                    <li class=""><a href="https://waifu2x.booru.pics/#url" data-toggle="pill" aria-expanded="false">From URL</a></li>
                </ul>
                <div class="tab-content" style="margin-top: 15px">
                    <div class="tab-pane fade in active" id="upload">
                        <form action="https://waifu2x.booru.pics/Home/upload" method="POST" enctype="multipart/form-data" class="form">
                            <div class="form-group">
                                <label for="img">File: </label>
                                <input type="file" placeholder="File" id="img" name="img" class="form-control">
                            </div>
                            <div style="font-size: x-small">
                                Maximum file size: 8M, 3840x3840 </div>
                            <div class="form-group">
                                <label for="denoise">Process mode: </label>
                                <label class="radio-inline">
                                    <input type="radio" name="denoise" value="0"> Enlarge
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="denoise" value="1" checked="checked"> Shrink
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="denoise" value="2"> Matting
                                </label>
                            </div>
                            <div class="form-group hid" style="display: none;">
                                <label for="width"> $ the width you hope: <input type="number" step="1" min="0" max="100" value="1" id="width" name="width">
                                </label>
                                <label for="height"> $ the height you hope: <input type="number" step="1" min="0" max="100" value="1" id="height" name="height">
                                </label>
                            </div>			<div class="form-group">
									<label for="scale">Scale: </label>
									<label class="radio-inline">
										<input type="radio" name="scale" value="1"> None
									</label>
									<label class="radio-inline">
										<input type="radio" name="scale" value="2" checked="checked"> 2x
									</label>													</div>
									<div class="form-group">
									</div>
				-->
									<!-- 点击上传
                            <button type="submit" id="submit" name="submit" class="btn btn-default">Work</button>
                        </form>
                    </div>


                    <div class="tab-pane fade" id="url">
                        <form action="https://waifu2x.booru.pics/Home/fromlink" method="POST" class="form">
                            <div class="form-group">
                                <label for="url">URL: </label> <input type="text" id="url" name="url" class="form-control" value="">
                            </div>
                            <div style="font-size: x-small">
                                Maximum file size: 8M, 3840x3840 </div>
                            <div class="form-group">
                                <label for="denoise">Process mode: </label>
                                <label class="radio-inline">
                                    <input type="radio" name="denoise" value="0"> Enlarge
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="denoise" value="1" checked="checked"> Shrink
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="denoise" value="2"> Matting
                                </label>
                            </div>

                            <div class="form-group hid" style="display: none;">
                                <label for="width"> $ the width you hope: <input type="number" step="1" min="0" max="100" value="1" id="width" name="width">
                                </label>
                                <label for="height"> $ the height you hope: <input type="number" step="1" min="0" max="100" value="1" id="height" name="height">
                                </label>
                            </div>


                            <div class="form-group">
                            </div>
                            <button type="submit" id="submit" name="submit" class="btn btn-default">Work</button>
                        </form>
                    </div>
                </div>
    -->
            </div>
        </div>
    </div>
</div>

<!-- js -->
<script type="text/javascript" src="../static/about/js/jquery-2.1.4.min.js"></script>
<!-- //js -->

<!--popup-js-->
<script src="../static/about/js/jquery.magnific-popup.js" type="text/javascript"></script>
 <script>
	$(document).ready(function() {
	$('.popup-with-zoom-anim').magnificPopup({
		type: 'inline',
		fixedContentPos: false,
		fixedBgPos: true,
		overflowY: 'auto',
		closeBtnInside: true,
		preloader: false,
		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
	});
	});
</script>
<!--//popup-js-->

</body>
<!-- //body ends -->
</html>